<h1 class="text-center text-uppercase"> Wyjazdy </h1>

<p class="text-right"><%= link_to 'Wyloguj', destroy_user_session_path, :method => :delete  %></p>
<p class="text-left"><%= link_to 'Moje rezerwacje', bookings_path, :method => :get  %></p>
<% if @events.any? %>
  <table class="table">
    <tr>
      <th>
        <%= "Nazwa" %>
      </th>
      <th>
        <%= "Data startu" %>
      </th>
      <th>
        <%= "Data zakończenia" %>
      </th>
      <th>
        <%= "Miejsce" %>
      </th>
      <th>
        <%= "Kraj" %>
      </th>
      <th>
        <%= "Cena PLN" %>
      </th>
      <th>
        <%= "Liczba miejsc" %>
      </th>
    </tr>
    <% @events.each do |event| %>
      <tr>
        <td>
          <%= event.name %>
        </td>
        <td>
          <%= event.start_date.strftime("%d-%m-%Y") %>
        </td>
        <td>
          <%= event.end_date.strftime("%d-%m-%Y") %>
        </td>
        <td>
          <%= event.location %>
        </td>
        <td>
          <%= event.country %>
        </td>
        <td>
          <%= event.price %>
        </td>
        <td>
          <%= event.capacity %>
        </td>
      <% bookings = event_bookings(event.id) %>
      <% if bookings.any? %>
        <td>
          <%= link_to 'wypisz się', event_booking_path(event_id: event.id, id: bookings.last.id), :method => :delete %>
        </td>
      <% else %>
        <td>
          <%= link_to 'zapisz się', event_bookings_path(event_id: event.id), :method => :post %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </table>
<% else %>
  <h3 class="text-center"> Brak dostępnych wycieczek </h3>
<% end %>
