<h1 class="text-center text-uppercase"> Wyjazdy </h1>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Wyloguj', destroy_user_session_path, :method => :delete  %></li>
        <li><%= link_to 'Wyjazdy', events_path %></li>
        <li><%= link_to 'Rezerwacje', bookings_path %></li>
      </ul>
    </div>
  </div>
</nav>

<% if @events.any? %>
  <table class="table">
    <tr>
      <th>
        <%= "Nazwa" %>
      </th>
      <th>
        <%= "Data startu" %>
      </th>
      <th>
        <%= "Data zakończenia" %>
      </th>
      <th>
        <%= "Miejsce" %>
      </th>
      <th>
        <%= "Kraj" %>
      </th>
      <th>
        <%= "Cena PLN" %>
      </th>
      <th>
        <%= "Liczba miejsc" %>
      </th>
    </tr>
    <% @events.each do |event| %>
      <tr>
        <td>
          <%= event.name %>
        </td>
        <td>
          <%= event.start_date.strftime("%d-%m-%Y") %>
        </td>
        <td>
          <%= event.end_date.strftime("%d-%m-%Y") %>
        </td>
        <td>
          <%= event.location %>
        </td>
        <td>
          <%= event.country %>
        </td>
        <td>
          <%= event.price %>
        </td>
        <td>
          <%= event.capacity %>
        </td>
      <% bookings = event_bookings(event.id) %>
      <% if bookings.any? %>
        <td>
          <%= link_to 'wypisz się', event_booking_path(event_id: event.id, id: bookings.last.id), :method => :delete %>
        </td>
      <% else %>
        <td>
          <%= link_to 'zapisz się', event_bookings_path(event_id: event.id), :method => :post %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </table>
<% else %>
  <h3 class="text-center"> Brak dostępnych wycieczek </h3>
<% end %>
